/* Global styles
--------------------------------------------------------*/

html {
      box-sizing: border-box;
}

*, *:before, *:after{
      box-sizing: inherit;
}

body {
      color: #000000;
      margin: 0;
      padding: 0;
      font-family: 'Monaco', sans-serif;
      font-size: 17px;
      line-height: 1.5;
}

img {
    width: 300px;
}

a {
    color: #EE964B;
}

a:hover {
      text-decoration: none;
}

h2 {
      font-size: 45px;
}

h1 {
      font-size: 100px;
      line-height: 1;
      font-family: 'Monaco', sans-serif;
}

h1, h2 {
      font-family: 'Monaco', cursive;
      font-weight: 400;
      margin: 0;
}

.content-wrap {
    max-width: 1100px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}


h3 {
      margin-bottom: 0;
}

.item-details h3 + p {
    font-style: italic;
}

.item-details h3 ~ p {
      margin:  0;
  }

.divider > section {
      border-bottom: 2px solid #F7FFF7;
      padding: 25px 0;
}

.divider > section:last-of-type {
      border-bottom: none;
}


.button {
      display: inline-block;
      padding: 7px 15px;
      font-size:inherit;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #3943B7;
      border: none;
      border-radius: 5px;
      box-shadow: 0 5px #999;
    }

    .button:hover {background-color: #5C80BC}

/* Profile 
--------------------------------------------------------*/
header {
     background-image: url(../images/leone-venter-unsplash.jpg);
     background-size: cover;
     background-position:bottom left;  
     color: #000000;
     text-shadow: 1px 1px #F7FFF7;
}


/* Project
--------------------------------------------------------*/
.project {
      background: #7C9082;
}

.project a {
      color: #000000;

}

.project .btn {
      color: #F7FFF7;
      background:#4A5899;
      text-decoration: none;
      padding: 8px;
      border-radius: 4px;
      display: inline-block;
}

.project .btn:hover {
      background: rgba(74, 88, 153, 80%);
}

.project-item {
      overflow: hidden;
}


.project-item h3{
      margin-top: 0;
}


/* Work Experience
--------------------------------------------------------*/

.work-experience {
      background-image: url(../images/ali-yahya-unsplash.jpg);
      background-size: cover;
      background-position: top right;
      color: #F7FFF7;
      text-shadow: 2px 2px #000000;
}


/* Education
--------------------------------------------------------*/

.education {
      background-image: url(../images/sharon-mccutcheon-unsplash.jpg);
      background-size: cover;
      background-position: top left;
      padding-bottom: 100px;
      text-shadow: 0.5px 0.5px #F7FFF7;
}

.education p {
      width: 60%;
}

/* Certificates
--------------------------------------------------------*/

.certificates {
      background-image: url(../images/scott-graham_unsplash.jpg);
      background-size: cover;    
      padding-bottom: 100px;
      color: #F7FFF7;
      text-shadow: 1px 1px #000000;
}

.certificates p {
      width: 60%;
}

/* Languages and Software Tools
--------------------------------------------------------*/

.languages
{
    background-image: url(../images/jr-korpa-unsplash.jpg);
    background-size: cover;
    background-position: top right;
    color: #F7FFF7;
    text-shadow: 2px 2px #000000;
}

.languages-list, .tools-list {
    list-style-type: none;
}

.languages-list, .tools-list {
    display: flex;
    flex-flow: wrap;
}

.languages-list li, .tools-list li{
  margin-right: 75px;
  width: 100px;
}

.sw-tools
{
    background-image: url(../images/szabo-viktor-unsplash.jpg);
    background-size: cover;
    background-position: center left;
    color: #F7FFF7;
    text-shadow: 2px 2px #000000;
}

/* Contact Info
--------------------------------------------------------*/
footer {
    background-image: url(../images/pexels-david-sun-955081.jpg);
    
    background-position: bottom ;
    background-size: initial;
    color : #000000 ;   
    text-shadow: 0.2px 0.2px #F7FFF7;
    padding-top: 90px;
    padding-bottom: 100px;
    text-align: center;
}

.contact-list {
      list-style-type:none;
      padding: 0;
      display: flex;
      justify-content: center;
}

.contact-list a {
      padding: 19px;
}

.social-icon {
      width: 40px;
      height: 40px;
      opacity: .8;
}

.social-icon:hover {
      opacity: 1.0;
}

/* Responisve
--------------------------------------------------------*/

@media screen and (min-width:820px){
      header, footer {
            text-align: center;
      }  
      
      .project-item img {
            float: left;
            margin-right: 20px;
      }

      .job-item {
            display: grid;
            grid-template-columns: 1fr 2fr;
            column-gap: 20px;
      }
}

@media screen and (max-width:821px){
      h1 {
            font-size: 75px;
            line-height: 0.9;
            margin-bottom: 20px;
      }

      h2 {
            line-height: 1;
      }
}